 .form-container {
   margin-bottom: 2rem;
   background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
   background: transparent;
   /* filter: blur(1px);
  -webkit-filter: blur(1px); */
   border: 1.5px solid #c6e7f1;
   border-radius: 10px;
   background-color: transparent;
   box-shadow: 0 10px 100px #63a4ff;
   width: 90%;
   height: 50%;
   margin: auto;
   box-sizing: border-box;
   /* box-shadow: 0 100px 100px 10px rgba(84, 86, 84, 0.627); */
   border-radius: 12px;
   margin-top: 20px;
 }

 center {
   width: 50%;
   margin: auto;
   border-radius: 30px;

 }

 .heading-sheet {
   padding-top: 40px;
 }


 #contribution-label {
   margin: auto;
   font-size: large;
   padding-right: 50px;
   justify-content: space-between;
   align-items: baseline;
   display: flex;
   flex-wrap: nowrap;
   direction: ltr;
   display: inline-table;
   width: 50%;
   text-align: justify;
   /* margin-right: 40px; */
   padding-top: 10px;
   padding-left: 12%;
 }



 #radio12label {
   width: 20%;
   display: -webkit-inline-box;

 }


 #radio9label {

   padding-top: 20px;
   width: 50%;
   display: inline-block;
 }

 .dropdown {
   display: inline;
   width: 100px;

 }

 .radio-contributionsheet {
   display: -webkit-inline-box;
   width: 20%;

   text-align: center;
   padding-top: 0px;
 }


 .bottom-btn {
   margin-top: 100px;
 }


 input,
 select {
   flex: 2.2;
   padding: 0.5rem;
   border-radius: 0.25rem;
   border: 1px solid #ccc;
   font-size: 1rem;
   margin-top: 2rem;
   margin-right: auto;
   width: 24%;

 }

 .instruction-fcs {
   color: red;
   margin-left: 40px;
   margin-bottom: 50px;
 }

 /* label {
   display: inline;
   width: 100%;
   text-align: left;
 } */



 select,
 input:focus {
   outline-color: #0072b8;
 }


 button[type="submit"] {
   transition-duration: 0.4s;
   background: #65a3e4;
   color: #fff;
   margin: 3vh;
   height: 50px;
   width: 110px;
   margin-top: 60px;
   margin-bottom: 10vh;
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 32px;
   font-size: 1.25rem;
   cursor: pointer;
   transition: 3s;
   box-shadow: 0 10px 100px #0072b8
 }

 button[type="submit"]:hover {
   background-image: linear-gradient(315deg, #63a4ff 0%, #83b8f1 74%);
 }