.publication-container .publication-field {
  width: 70%;
  margin-inline: auto;
  padding-bottom: 2%;
  background: transparent;
  border: 0.5px solid #c6e7f1;

  margin-top: 2px;

  border-radius: 12px;

}

.publication-container {
  margin-bottom: 2rem;
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  border-radius: 20px;
}

/*  */
#Heading {
  margin: 40px;
  ;
}

h2 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;

  font-size: 30px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;

}

h2:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #0072b8;
}

h2:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #0075b8;

}

.publication-field input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-right: auto;
}

.publication-field {

  display: flex !important;
  gap: 10;
  padding-inline: 5rem;
  justify-content: space-between;
  align-items: baseline;
  font-weight: bold;
  margin-inline: 5rem;
  padding-top: 10px;


}

.publication-field label {
  flex: 1
}

.publication-field input {
  flex: 2.2
}

.publication-field input:focus {
  outline-color: #0072b8;
}


.publication-field {
  box-shadow: 0 10px 100px rgba(72, 148, 206, 0.2);
}

#formm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}