.App {
  display: inline;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  align-items: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

form {
  display: inline-block;

}

.Form {

  display: inline-block;
  text-align: center;

}


.AwardForm {

  font: 1rem 'Fira Sans', sans-serif;
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
  border-bottom: 100px;
  padding-bottom: 100px;
}



input,
.AwardForm {
  align-items: center;
  margin: 0.4rem 0;
}

.RadioBtn1,
.RadioBtn2 {

  display: inline-block;
  padding: 1%;
  height: 5%;
}

#YesForm,
#NoForm {
  height: 5%;
}

.YesRadioBtn,
.NoRadioBtn {
  font-size: small;
}

.FileUpload {
  text-align: ri;
}

/* Award Table Styling  */

.AwardTable {
  font-size: 20px;
  box-shadow: 0px 0px 5px 0px;

}

.AwardTableHeading {
  color: red;
}

.InnerTable {
  padding: 2%;
}

.TableHead {
  font-family: sans-serif;
  color: white;
  background-color: #15445a;
}



/* Navigation Bar css */

nav {
  background: #0082e6;
  height: 80px;
}

nav ul {
  float: right;
  margin: 20px;
  color: white;
  font-size: 20px;
  line-height: 80px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}

.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
  padding-left: 125px;
  display: inline-block;
}

.Credential {
  font-size: 20px;
  line-height: 80px;
  font-weight: bold;
  padding-right: 125px;
  float: right;
  color: white;


}