body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  background-image: url("data:image/svg+xml,%3Csvg class='border shadow-md' viewBox='0 0 604.5600000000001 604.5600000000001' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' style='width: 604.56px; height: 604.56px;'%3E%3Crect class='bg' id='bg' x='0' y='0' width='604.5600000000001' height='604.5600000000001' fill='%23ffffff'%3E%3C/rect%3E%3Cg transform='rotate(0 302.28000000000003 302.28000000000003)'%3E%3Cpath d='M -402.28 5.82 S -211.14 -17.18 0.00 5.82 191.14 -6.27 402.28 5.82 593.42 -6.27 804.56 5.82 995.70 -8.18 1206.84 5.82 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%2395BCD8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 30.00 S -211.14 17.91 0.00 30.00 191.14 17.91 402.28 30.00 593.42 16.00 804.56 30.00 995.70 10.00 1206.84 30.00 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%2398bed8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 54.18 S -211.14 38.18 0.00 54.18 -7.72 42.09 402.28 54.18 485.56 42.09 804.56 54.18 995.70 42.09 1206.84 54.18 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%239bc0d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 78.36 S -243.00 66.27 0.00 78.36 191.14 54.36 402.28 78.36 588.56 66.27 804.56 78.36 812.84 63.36 1206.84 78.36 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%239ec2d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 102.55 S -266.00 90.46 0.00 102.55 94.28 90.46 402.28 102.55 593.42 80.55 804.56 102.55 995.70 90.46 1206.84 102.55 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23a1c4d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 126.73 S -211.14 114.64 0.00 126.73 191.14 105.73 402.28 126.73 593.42 109.73 804.56 126.73 995.70 114.64 1206.84 126.73 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23a4c6d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 150.91 S -297.00 130.91 0.00 150.91 173.28 138.82 402.28 150.91 593.42 138.82 804.56 150.91 995.70 138.82 1206.84 150.91 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23a7c8d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 175.09 S -211.14 163.00 0.00 175.09 191.14 163.00 402.28 175.09 593.42 163.00 804.56 175.09 995.70 156.09 1206.84 175.09 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23aacad8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 199.28 S -335.00 186.28 0.00 199.28 -3.72 176.28 402.28 199.28 593.42 187.19 804.56 199.28 995.70 179.28 1206.84 199.28 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23adccd8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 223.46 S -211.14 211.37 0.00 223.46 191.14 211.37 402.28 223.46 593.42 211.37 804.56 223.46 995.70 207.46 1206.84 223.46 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23b0ced8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 247.64 S -324.00 235.55 0.00 247.64 26.28 233.64 402.28 247.64 436.56 224.64 804.56 247.64 995.70 225.64 1206.84 247.64 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23b3d0d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 271.82 S -211.14 247.82 0.00 271.82 191.14 259.73 402.28 271.82 593.42 256.82 804.56 271.82 995.70 248.82 1206.84 271.82 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23b6d2d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 296.01 S -211.14 282.01 0.00 296.01 191.14 283.92 402.28 296.01 406.56 283.92 804.56 296.01 866.84 283.92 1206.84 296.01 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23b9d4d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 320.19 S -277.00 304.19 0.00 320.19 191.14 303.19 402.28 320.19 565.56 308.10 804.56 320.19 957.84 304.19 1206.84 320.19 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23bcd6d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 344.37 S -268.00 329.37 0.00 344.37 191.14 332.28 402.28 344.37 593.42 332.28 804.56 344.37 995.70 332.28 1206.84 344.37 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23bfd8d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 368.55 S -338.00 347.55 0.00 368.55 191.14 356.46 402.28 368.55 593.42 356.46 804.56 368.55 995.70 349.55 1206.84 368.55 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23c2dad8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 392.74 S -211.14 372.74 0.00 392.74 191.14 380.64 402.28 392.74 593.42 368.74 804.56 392.74 995.70 377.74 1206.84 392.74 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23c5dcd8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 416.92 S -292.00 404.83 0.00 416.92 191.14 404.83 402.28 416.92 418.56 398.92 804.56 416.92 889.84 404.83 1206.84 416.92 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23c8ded8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 441.10 S -223.00 429.01 0.00 441.10 85.28 429.01 402.28 441.10 593.42 429.01 804.56 441.10 978.84 426.10 1206.84 441.10 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23cbe0d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 465.28 S -353.00 453.19 0.00 465.28 191.14 453.19 402.28 465.28 464.56 451.28 804.56 465.28 995.70 453.19 1206.84 465.28 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23cee2d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 489.47 S -278.00 474.47 0.00 489.47 191.14 477.37 402.28 489.47 593.42 477.37 804.56 489.47 995.70 477.37 1206.84 489.47 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23d1e4d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 513.65 S -340.00 501.56 0.00 513.65 177.28 498.65 402.28 513.65 593.42 500.65 804.56 513.65 821.84 501.56 1206.84 513.65 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23d4e6d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 537.83 S -211.14 522.83 0.00 537.83 138.28 525.74 402.28 537.83 593.42 516.83 804.56 537.83 889.84 525.74 1206.84 537.83 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23d7e8d8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 562.01 S -238.00 549.01 0.00 562.01 191.14 549.92 402.28 562.01 593.42 549.92 804.56 562.01 995.70 549.92 1206.84 562.01 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23daead8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 586.20 S -211.14 564.20 0.00 586.20 191.14 574.10 402.28 586.20 442.56 574.10 804.56 586.20 995.70 574.10 1206.84 586.20 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23ddecd8' stroke-width='10'%3E%3C/path%3E%3Cpath d='M -402.28 610.38 S -241.00 598.29 0.00 610.38 72.28 597.38 402.28 610.38 518.56 591.38 804.56 610.38 870.84 598.29 1206.84 610.38 h 110 V 804.5600000000001 H -402.28 Z' fill='none' stroke='%23e0eed8' stroke-width='10'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(105px);


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #2874a6;
  outline: 1px solid slategrey;
}

.required {
  color: red;
}

span {
  color: red;
  font-family: 'Helvetica Neue';
  padding-top: 10px;
  font-size: small;
  /* box-shadow: 0 10px 100px rgb(244, 6, 6, 0.3); */
  margin: 5px;
  opacity: 10.5;
  /* background-color: #d7dbdd; */
}

body {
  background-color: #F6F1F1;
}

/* 
button {

  border: 1px solid #eee;
  border-bottom: 4px solid #eee;
}

button:before {
  top: 0;
  left: 0;
  width: 150%;
  background: #259f6c;
  transform-origin: 0 bottom;
  transform: translateX(-100%) rotate(-30deg);
}

button:after {
  top: 0;
  left: auto;
  right: 0;
  width: 150%;
  transform-origin: right bottom;
  transform: translateX(100%) rotate(30deg);
}

button:hover:before {
  left: 0;
  transform: rotate(0deg);
  transition: all .5s;
}

button:hover:after {
  right: 0;
  transform: rotate(0deg);
  transition: all .5s;
} */